.page-album {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

.album-information {
  align-self: flex-start;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-information img {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

.musicas {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding: 10px 0;
  height: 90%;
  width: 50%;
}

.musicas::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.musicas::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.musicas::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
.musicas::-webkit-scrollbar-thumb:hover {
  background: #555;
}