.grid-container {
  margin-top: 5vh;
  width: 100vw;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.grid-container a {
  text-decoration: none;
  color: unset;
}

.grid-card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 10px;
}

.grid-card img {
  width: 100%;
}

.grid-card h3 {
  margin: 5px;
  font-size: 1.5em;
}

.grid-card p {
  display: none;
}

.grid-card audio {
  display: none;
}

.heard-fav-grid {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 5%;
  color: white;
  font-size: 2em;
  text-shadow: 0 0 1em black;
}

.album-card {
  width: 400px;
  height: 500px;
  margin: 10px;
}

.album-card img {
  width: 100%;
}

.album-card h2 {
  padding: 0 5px;
}

.album-card h4 {
  padding: 0 5px;
}

.album-card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.musica {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.musica p {
  width: 50px;
}

.musica img {
  border-radius: 50%;
  height: 100%;
  margin-right: 20px;
}

.musica h3 {
  width: 250px;
}

.musica audio {
  margin: 50px;
}

.heart-fav {
  width: fit-content;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.3em;
  cursor: pointer;
  color: red;
}
